.background_banner2 {
  background-image: url('../../assets/banner2/Artboard ÔÇô 2.png');
}

.brands_partner02 h1 {
  font-size: 65px;
  text-align: left;
  margin-top: -10px;
}

.brands_partner02 {
  margin-top: 180px;
}

.brands_partner {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line on smaller screens */
  justify-content: center;
  color: #000;
}

.brands_partner02,
.brands_partner03 {
  flex: 1; /* Equal width in the same row on larger screens */
}

.logos_brands {
  max-width: 100%; /* Make the image responsive */
  height: auto; /* Maintain the image's aspect ratio */
  padding-bottom: 50px;
}

/* Media queries for responsiveness */

@media only screen and (max-width: 1300px) {
    .logos_brands{
        max-width: 600px !important;
    }
    .brands_partner02 h1{
        font-size: 45px !important;
    }
    .brands_partner{
        padding: 0 50px;
    }
    
    
    
    }
@media only screen and (max-width: 1000px) {
  .brands_partner02 {
    flex: 100%; 
    margin-top: 25px;
    display: flex;
    gap: 20px;
    justify-content: center;
  }


  .logos_brands{
    max-width: 500px !important;
}
.brands_partner02 h1{
    font-size: 45px !important;
}
.brands_partner{
    padding: 0 50px;
}

}
@media only screen and (max-width: 850px) {
    .background_banner2{
        margin-top: px;
    }
    .brands_partner02 {
      flex: 100%; 
      margin-top: 55px;
      display: flex;
      gap: 20px;
      justify-content: center;
    }

}


@media only screen and (max-width: 550px) {
  .brands_partner02 h1 {
    font-size: 35px !important;
  }

  .logos_brands {
    max-width: 425px !important;
  }
  .brands_partner02 {
    flex: 100%; 
    margin-top: 160px !important;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
}
@media only screen and (max-width: 480px) {
    .background_banner2{
        margin-top: 210px;
    }
    .logos_brands{
        margin-top: 10px !important;
    }
    .brands_partner02 {
        flex: 100%; 
        margin-top: 80px !important;
        display: flex;
        gap: 20px;
        justify-content: center;
      }
  }
  @media only screen and (max-width:450px){
    .brands_partner02{
        margin-top: 150px !important; 
    }
    .logos_brands {
      max-width: 375px !important;
    }
}
@media only screen and (max-width:414px){
    .brands_partner02{
    padding-top: 60px;
    }
    .brands_partner02 h1{
        font-size: 13px;
        }
}

@media only screen and (min-width:992px){
    .background_banner2{
        margin-top: 50px;
    }
}
@media only screen and (min-width:995px){
    .background_banner2{
        margin-top: 200px;
    }
}