

.contact-container {
    display: flex;
    max-width: 1135px;
    margin:0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    font-family: 'eqstdrounded-thin', sans-serif;
    
  }
  
  .contact-image {
    flex: 1;
  }
  
  .contact-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .contact-form-container {
    flex: 1;
  }
  
  .contact-form {
    padding: 20px 20px;
    box-sizing:px border-box;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-size: 12px;
    color: rgb(80, 80, 80);
    padding: 5px 0;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'eqstdrounded-thin', sans-serif;
    
  }
  input:focus-visible{
    outline: none; 
  }
  
  button {
    background-color: #3d3d3d;
    color: #fff;
    padding: 10px 15px;
    width: 100%;
    max-width: 468px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #5e5d5d;
    color: #ffffff;
  }
  
  .display_flex {
    display: flex;
    justify-content: space-between;
  
  }
  
  .display_flex label {
    width: 48%; /* Adjust the width as needed */
  }
  .form-group {
    position: relative;
 
  }
  
  label {
    position: absolute;
    top: 15px;
    left: 15px;
    transition: top 0.3s ease, left 0.3s ease, font-size 0.3s ease;
    pointer-events: none;
  }
  
  .active {
    top: -12px;
    left: 5px;
    font-size: 0.8em;
  }
  
  @media only screen and (max-width: 550px) {
    .contact-container {
      display: block;
      max-width: 1110px;
      margin: 0 auto;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      overflow: hidden;
      flex-direction: column; /* Change flex direction to column */
      font-family: 'eqstdrounded-thin', sans-serif;
    }
    .location-box{
      max-width: 350px;
    }
    .contactus-box{
      min-width: 350px;
    }
    .workinghours-box{
      min-width: 350px;
    }
  }
  @media only screen and (max-width: 400px) {
   
    .location-box{
      max-width: 320px;
    }
    .contactus-box{
      min-width: 320px;
    }
    .workinghours-box{
      min-width: 320px;
    }
  }
  