/* 
.two-column-container {
    display: flex;
    flex-direction: column; 
  } */

  .left-column {
    /* flex: 1;  */
    padding: 20px;
    justify-content: center;
    text-align: center;
    /* background-color: #f0f0f0;  */

  }
  .left-column h2{
    font-size: 35px;
    font-family: 'Frygia', sans-serif;
  }

  .left-column ul li{
    font-size: 17px;
    font-family: 'eqstdrounded-thin', sans-serif !important;
    
  }
  

  .right-column {
    /* flex: 1;  */
    padding: 20px;
  }
  

  @media (max-width: 768px) {
    .left-column h2{
        font-size: 25px;
        font-family: 'Frygia', sans-serif;
      }
 
        .right-column {
          overflow-x: auto; /* Enable horizontal scrolling */
          max-width: 100%; /* Allow the image to take the full width of the container */
        }
      
        .right-column img {
          width: auto; /* Ensure the image can be scrolled horizontally */
          max-height: 100%; /* Ensure the image does not overflow vertically */
        }
  


  }

  @media (min-width: 768px) {
    .two-column-container {
      flex-direction: column;
    }
  
    .left-column {
      /* flex: 1; */
      padding: 50px 0 20px 0;
    }
  
    .right-column {
      /* flex: 1; */
      padding: 20px;
      /* max-width: 600px; */
    }
    .left-column ul {
        line-height: 3rem;
        padding: 10px;
           
         }
  }
  